 <h2 style="text-align:center;padding: 0 auto;">Movies</h2>

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div> 
    <img src="../../assets/images/1.jpg" style="width:100%;">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="../../assets/images/2.jpg" style="width:100%; ">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="../../assets/images/4.jpeg" style="width:100%; ">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="../../assets/images/5.jpg" style="width:100%; ">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="../../assets/images/6.jpg" style="width:100%;">
  </div>
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="../../assets/images/3.jpeg" style="width:100%; ">
  </div>
    
  
    
  <a class="prev" (click)="plusSlides(-1)">❮</a>
  <a class="next" (click)="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="../../assets/images/1.jpg" style="width: 100%; ; height: 500px;" (click)="currentSlide(1)" alt="THOR" >
    </div>
    <div class="column">
      <img class="demo cursor" src="../../assets/images/2.jpg" style="width:100%; height: 500px;" (click)="currentSlide(2)" alt="83">
    </div>
    <div class="column">
      <img class="demo cursor" src="../../assets/images/4.jpg" style="width:100%; height: 500px;" (click)="currentSlide(4)"alt="HEROPANTI">
    </div>
    <div class="column">
      <img class="demo cursor" src="../../assets/images/5.jpg" style="width:100%; height: 500px;" (click)="currentSlide(5)"alt="KGF" >
    </div>    
    <div class="column">
      <img class="demo cursor" src="../../assets/images/6.jpg" style="width:100%; height: 500px;" (click)="currentSlide(6)"alt="RAMBO" >
    </div>
    <div class="column">
      <img class="demo cursor" src="../../assets/images/3.jpeg" style="width:100%; height: 500px;" (click)="currentSlide(6)"alt="BLOODSHOT" >
    </div>
  </div>
</div>

    
<!--  
<p [class]="dynamicClass" >home works!</p>

{{title}}  

<button (click) = "fun()" > click me </button>
<button (click)="gotoAbout()" >go to about</button> -->