<!-- <h1>website header</h1> -->
<div class="topnav">
   <!-- <div></div>
   <div></div>
   <div></div> -->
  <div style ="padding-left:20px;font-size: large;letter-spacing: 2px;font-weight: bold;font-size: 30px;"><u>CINEPLEX</u>
   
    <!--<div class="search-container">--->
      
      
        <input type="text" placeholder="Search.." name="search" style="font-size:large;margin-left: 40px">
        <button type="submit" style="font-size:large;"><i class="fa fa-search"></i></button>
      
   
    </div>
  </div>
<ul>
    <li routerLink="/" > Home </li>
    <li routerLink="/about" > About</li>
    <!-- <li routerLink="/contact"> Contact</li> -->
    <li routerLink="/products"> Help & Support</li>
    <li routerLink="/login"> Login</li>
    
</ul>