.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  
 
ul{
    list-style: none;
    overflow: hidden;
    padding-top: 25px;
}
ul li{
    width: 33.3%;
    width: 20%;

    background-color: aqua;
    height: 50px;
    line-height: 50px;
    color: blue;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    float: left;
    text-align: center;
}

ul li:hover{
    background-color: blue;
    color: aqua;
}