
<div class="design">
<div class="loginform" >

    <!-- <app-customcard title="Login Form" info="your details are secure here" style="margin: 500px;">
    <div></div> -->
    <h1>LOGIN FORM</h1>
        <form #f="ngForm">
            <div class="form-group"  >
              <label for="email">Email address:</label>
              <input #emailref="ngModel"  [(ngModel)]="emailProp" name="email"   type="email" class="form-control" placeholder="Enter email" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input #passref="ngModel"  [(ngModel)]="passwordProp" name="password"  type="password" class="form-control" placeholder="Enter password" id="pwd">
            </div>
            
            <button type="submit" class="btn btn-primary"  (click)="login()"  >Submit</button>
            <br>
            <a routerLink="/signup">SignUP if Not Already Registered</a>
          </form>
    
    <!-- </app-customcard>
     -->
    </div>
</div>