
{{msgFromOther}}


<div class="services">
    <div class="service"> 
                <app-customcard title="development" >
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero maxime possimus eaque velit, deleniti fuga autem cupiditate aspernatur minus ut porro dolorem optio sit perferendis omnis delectus illo quod quidem.</p>    
        </app-customcard>
    </div>
    <div  class="service"> 
         
            <app-customcard title="training"> 
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore explicabo repellat fugiat a, soluta inventore neque maiores minima beatae molestias unde repudiandae doloribus dicta ipsum voluptatibus nesciunt nobis, esse voluptas.
                </p>
            </app-customcard>

    </div>
</div>



