<div class="ticketform" >

    <app-customcard title="TICKET BOOKING" info="your details are secure here">
    
        <form #f="ngForm">
            <div class="form-group"  >
              <label for="email">Name:</label>
              <input #emailref="ngModel"  [(ngModel)]="nameProp" name="name"   type="name" class="form-control" placeholder="Enter name" id="name">
            </div>
            <div class="form-group"  >
                <label for="email">Movie Name:</label>
                <input #emailref="ngModel"  [(ngModel)]="movieProp" name="movie"   type="movie" class="form-control" placeholder="Enter Movie" id="movie">
              </div>
              <div class="form-group"  >
                <label for="cars">Seat:</label>

                <select id="cars">
                 <option value="volvo">Front row</option>
                 <option value="saab">Middle row</option>
                     <option value="opel">Balcony</option>
                     <option value="audi">other</option>
                    </select>
              </div>
             
            <button type="submit" class="btn btn-primary"  (click)="liststudent()"  >Get ticket</button>

            
          </form>
    
    </app-customcard>
    
    </div>