<div class="ticketform" >

    <app-customcard title="TICKET BOOKING" info="your details are secure here">
    
        <form #f="ngForm">
            
            <div class="form-group"  >
                <label for="email">Movie Name:</label>
                <input #emailref="ngModel"  [(ngModel)]="movieProp" name="name"   type="name" class="form-control" placeholder="Enter name" id="name">
              </div>
              
              <div class="form-group"  >
                <label for="cars">Hall Name:</label>
                <input #emailref="ngModel"  [(ngModel)]="hallProp" name="name"   type="name" class="form-control" placeholder="Enter name" id="name">
               
              </div>
             <div class="form-group"  >
               
                <label for="seat">Front:</label>
                <option><input #emailref="ngModel"  [(ngModel)]="aProp" name="name"   type="name" class="form-control" placeholder="seats booked" id="number"></option>
                <label for="seat">Middle:</label>
               <option> <input #emailref="ngModel"  [(ngModel)]="bProp" name="name"   type="name" class="form-control" placeholder="seats booked" id="number"></option>
                <label for="seat">Balcony:</label>
               <option> <input #emailref="ngModel"  [(ngModel)]="cProp" name="name"   type="name" class="form-control" placeholder="seats booked" id="number"></option>
             
              </div>
            
              <input #emailref="ngModel"  [(ngModel)]="dateProp" type="date" id="myDate" >
              <input #emailref="ngModel"  [(ngModel)]="timeProp" type="time" id="mytime" value=""><br>

            <button type="submit" class="btn btn-primary"  (click)="liststudent()"  >Get ticket</button>
            
            
          </form>
    
    </app-customcard>
    
    </div>